// Typesetting variables. Edit these!
$baseFontSize:16; // in pixels. This would result in 22px on desktop
$baseLineHeight:1.5; // how large the line height is as a multiple of font size
$leading:$baseLineHeight * 1rem;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale:1.414;

// $base-font-size : 16px;
// $base-f-size:22;
// $base-line-height : 1.5em;
// $leading : 1.5em;

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,
	global-box-sizing: content-box,
	debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
	)
);

// media queries
$media-small:768px; 
$media-medium:992px; 
$media-large:1200px; 


// Colors