head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title Test
	script(src='http://fast.fonts.net/jsapi/4eef63ac-f35f-4cf1-90c1-df87535b4a39.js')
	link(rel='stylesheet', href='main.css')